svg#freepik_stories-code-typing:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-code-typing.animated #freepik--background-simple--inject-16 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #elz41vdcyis {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
    animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #el8v0uif62x1o {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
    animation-delay: 0.16666666666666666s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el69d77hc8s0u {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
    animation-delay: 0.3333333333333333s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elbx8dh6gef9g {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
    animation-delay: 0.5s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elzskv9be64j {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
    animation-delay: 0.6666666666666666s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elo6d7n3cub8 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
    animation-delay: 0.8333333333333333s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #freepik--Plant--inject-16 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft, 6s Infinite linear heartbeat;
    animation-delay: 0s, 1s;
}

svg#freepik_stories-code-typing.animated #freepik--Keyboard--inject-16 {
    animation: 2.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #freepik--Hands--inject-16 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp, 3s Infinite linear wind;
    animation-delay: 0s, 1s;
}

svg#freepik_stories-code-typing.animated #el145hmkk1msc {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #els2e4ihy6i2s {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.06666666666666667s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eljqyjhlvj2v {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.13333333333333333s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elte0e1n3jhzl {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.2s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el7eh573o6pl9 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.26666666666666666s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eli0mvt2qc86 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.3333333333333333s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elw2oui8bce5f {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.4s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elztgwrwpjfxf {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.4666666666666667s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elk4oglne4zp {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.5333333333333333s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elp0i6ueg8ien {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.6s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elnm2vi7763h {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.6666666666666666s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elu18s8kbfu1b {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.7333333333333333s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elzqklj18ekt8 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.8s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eloq2jy195l8p {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.8666666666666667s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eld1tpkf7v98a {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0.9333333333333333s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #freepik--Coffee--inject-16 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight, 6s Infinite linear heartbeat;
    animation-delay: 0s, 1s;
}

svg#freepik_stories-code-typing.animated #elw29sg7e72lt {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #el6bngvpuzrhd {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.025396825396825397s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elc23x2lgmix5 {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.050793650793650794s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elb8szk383ig6 {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.0761904761904762s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el2lv80jvmbd4 {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.10158730158730159s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eldrnxrw7slor {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.12698412698412698s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el1ky2j8bva5v {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.1523809523809524s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elsk2fa4yx5ih {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.17777777777777778s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elem2zpzbwrfa {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.20317460317460317s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el7njo3er4mwu {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.22857142857142856s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eljwqa8irsu4o {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.25396825396825395s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eljxawce334tk {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.27936507936507937s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #els9tf4nuwiw {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.3047619047619048s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elf5sz1zvp7o {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.33015873015873015s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eldo75ew7ryf4 {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.35555555555555557s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elohpkqzwqptp {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.38095238095238093s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eled5fnzq9q2 {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.40634920634920635s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #ele6q0h0rjwne {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.43174603174603177s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elqs592en2y5l {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.45714285714285713s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elemlmhir36bn {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.48253968253968255s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #ellk9axvbdqnr {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.5079365079365079s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el25goffr7dvc {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.5333333333333333s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elygmry17iwm {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.5587301587301587s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #els940kw9x8b {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.5841269841269842s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elwj8n7enxrl {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.6095238095238096s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elln2lc11lmyl {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.6349206349206349s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elh171xjp28ip {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.6603174603174603s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elexhkkix3emo {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.6857142857142857s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #ele7z9o15f6pv {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.7111111111111111s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elhcgmvusczib {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.7365079365079366s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elyl315q1he {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.7619047619047619s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elydzd37rtef {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.7873015873015873s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el6jsdp1y4faa {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.8126984126984127s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elupbcgku4x1h {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.8380952380952381s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elymt5bq3pnrc {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.8634920634920635s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eleauru2raw18 {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.8888888888888888s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elxpc79osfkuj {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.9142857142857143s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elqeaqx0nhurk {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.9396825396825397s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elupmn8nxvzh {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.9650793650793651s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elkz40k4y9cc {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.9904761904761905s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eln92f5blhyla {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.0158730158730158s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elg9f9zfsur0s {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.0412698412698413s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elgxtnj6s7wvh {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.0666666666666667s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el47l0e39pljq {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.092063492063492s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elr9jf2lwr2zp {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.1174603174603175s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elkljgsiyk3ml {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.1428571428571428s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elsrgfohxh6fr {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.1682539682539683s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elk5tnx63zged {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.1936507936507936s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el8emv9ijwooq {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.2190476190476192s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elhif1nmdhk9j {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.2444444444444445s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eltnb415s5fx {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.2698412698412698s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elklfyfojn2ol {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.2952380952380953s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elyupekyltq9p {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.3206349206349206s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el9ew4edcz8lk {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.3460317460317461s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elsc45mnbv9kp {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.3714285714285714s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elci4ixd777i {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.3968253968253967s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #ell5udm44v7kc {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.4222222222222223s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eld1skmi5c4o6 {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.4476190476190476s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elzbbfk5hrt2 {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.4730158730158731s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elr8jsz7g6afh {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.4984126984126984s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el7x1euog9yb {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.5238095238095237s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elfv7woazo21c {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.5492063492063493s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elgcl705pzkpe {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.5746031746031746s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #freepik--Monitor--inject-16 {
    animation: 1.6s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn, 6s Infinite linear floating;
    animation-delay: 0s, 1.6s;
}

svg#freepik_stories-code-typing.animated #el0ofapauqukk {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #eli7il6bwg0h {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.10344827586206896s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elp9eyylqjtub {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.20689655172413793s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #ell4hmrat3g {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.3103448275862069s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #ely536ymuzdqc {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.41379310344827586s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #ela2kh05z2v9e {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.5172413793103449s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elfl5b0lijlyo {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.6206896551724138s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el40w4fo43gff {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.7241379310344828s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #ell9bxaa6ryn {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.8275862068965517s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el44k6vg3lm6 {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0.9310344827586207s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elk733luq767 {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.0344827586206897s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elqisfogw2nkm {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.1379310344827587s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elvc1yalyk {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.2413793103448276s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elr88bykfd7hr {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.3448275862068966s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el67dmk4bx8dd {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.4482758620689655s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elh0e1v4zjwap {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.5517241379310345s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elejpxdkli2yf {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.6551724137931034s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elorh1fg1e0zd {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.7586206896551724s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elz3nnk5wohvn {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.8620689655172413s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elro5u88rq6rs {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 1.9655172413793103s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elv4zs5wd7pi {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 2.0689655172413794s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eljbk085snjtn {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 2.1724137931034484s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elussl2fgtgm {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 2.2758620689655173s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eloq3kojddtp {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 2.3793103448275863s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el7upub4k2cv2 {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 2.4827586206896552s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elt66cc9jq4tm {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 2.586206896551724s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elm0u0dvvqfnl {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 2.689655172413793s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elbn5rp6d7bka {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 2.793103448275862s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elwjl7z79wqwr {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 2.896551724137931s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #freepik--speech-bubbles--inject-16 {
    animation: 3.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn, 6s Infinite linear heartbeat;
    animation-delay: 0s, 3s;
}

svg#freepik_stories-code-typing.animated #elxvk64bj2wts {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #elul8xvxjfvz {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0.29s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elm1axbsger7e {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0.58s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eli20rgtrbexr {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0.8699999999999999s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #eldizsq6flet6 {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 1.16s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elpywnulnl7ug {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 1.45s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #el37q2inwq3xj {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 1.7399999999999998s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elfpov8k08nup {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 2.03s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elbyyjdopovop {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 2.32s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #elqj10p351cd {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 2.61s;
    opacity: 0
}

svg#freepik_stories-code-typing.animated #freepik--Mouse--inject-16 {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp, 3s Infinite linear wind;
    animation-delay: 0s, 2.9s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lightSpeedLeft {
    from {
        transform: translate3d(-50%, 0, 0) skewX(20deg);
        opacity: 0;
    }

    60% {
        transform: skewX(-10deg);
        opacity: 1;
    }

    80% {
        transform: skewX(2deg);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.1);
    }

    30% {
        transform: scale(1);
    }

    40% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: inherit;
    }
}

@keyframes wind {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    75% {
        transform: rotate(-1deg);
    }
}

@keyframes lightSpeedRight {
    from {
        transform: translate3d(50%, 0, 0) skewX(-20deg);
        opacity: 0;
    }

    60% {
        transform: skewX(10deg);
        opacity: 1;
    }

    80% {
        transform: skewX(-2deg);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}